<div class="main-content">
   <div class="section-content section-content-p30">
      <div class="container-fluid">
         <div class="row">
            <!--Loop over products-->
            <div *ngFor="let product of products" class="col-md-3">

               <div class="card p-1">
                  <a routerLink="/products/{{product.id}}">
                     <img class="img-responsive" src="{{product.imageUrl}}">
                  </a>
                  <a routerLink="/products/{{product.id}}">
                     <h5>{{product.name}}</h5>
                  </a>
                  <div class="price">{{product.price | currency: 'USD'}}</div>
                  <button (click)="addToCart(product)" type="button" class="btn btn-dark btn-sm">Add to cart</button>
               </div>
            </div>

            <!-- If product list is empty, display message-->
            <div class="alert alert-warning col-md-12" *ngIf="products?.length == 0" role="alert">No products found
            </div>
         </div>
         <!---->
         <div class="footer-pagination">
            <div class="row">
               <div class="col-md-6"></div>

               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-9" style="padding-left: 30%">
                        <ngb-pagination
                        [(page)]="pageNumber"
                        [pageSize]="pageSize"
                        [collectionSize]="totalElements"
                        [maxSize]="5"
                        [boundaryLinks]="true"
                           (pageChange)="listProducts()">
                        </ngb-pagination>
                     </div>
                     <!-- pageSize-->

                     <div class="col-md-3 mt-2" style="text-align: right">
                        <span class="mr-2">Page Size</span>
                        <select #pageSizeChoise (change)="updatePageSize(pageSizeChoise.value)" >
                           <option selected="true">5</option>
                           <option>10</option>
                           <option>20</option>
                           <option>50</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
            <!-- en footer-->
         </div>
         <!---->

      </div>
   </div>
</div>
