<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <a href="/products" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img style="width: 10rem;" src="assets/logo/tech-house-high-logo.svg">
      </a>

      <app-search></app-search>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
      <app-cart-status></app-cart-status>
    </div>
  </div>
</header>

<div class="d-flex">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 250px;">
    <div>
      <a routerLink="/category/1"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Categories</span>
      </a>
      <hr>
      <app-product-category-menu></app-product-category-menu>
      <hr>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- FOOTER-->

<div>
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 mt-0">
    <div class="col-md-4 d-flex align-items-center">

      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Tech-House, Inc</span>
      <ul>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>
    </div>

    <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
      <li><a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
    </ul>
  </footer>
</div>